html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: #515e78;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1em;
}
h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 24px;
}
p {
  font-size: 15px;
  line-height: 18px;
  margin: 0 0 1em 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #333333;
}
header .marquee-wrapper {
  background-color: #FF4840;
  position: relative;
  width: 100%;
  padding: 16px;
  margin: 0;
  overflow: hidden;
  height: 54px;
}
header .marquee-wrapper .marquee {
  position: absolute;
  left: 0;
  width: 100000px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.2em;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  height: 22px;
  float: left;
}
header .marquee-wrapper .marquee li {
  float: left;
  margin: 0 0 0 30px;
  padding: 0 0 0 0px;
  list-style: disc;
  color: #ffffff;
}
.item {
  width: 50%;
}
.content-wrapper {
  width: 960px;
  margin: 0px  auto 0 auto;
  padding: 0;
}
.content-wrapper .landng-content-box {
  float: left;
  margin: 0;
  padding: 0;
  width: 50%;
  background-color: #e7e5d7;
}
.content-wrapper .landng-content-box a {
  float: left;
  margin: 0;
  padding: 16px;
  text-decoration: none;
  color: #333333;
}
.content-wrapper .landng-content-box a h2 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.1em;
}
.content-wrapper .landng-content-box a:hover {
  border: 1px solid #666666;
  padding: 15px;
}
.content-wrapper .orange {
  background-color: #ef5f3b;
}
.content-wrapper .purple {
  background-color: #4a4e5c;
}
.content-wrapper .custard {
  background-color: #fcc077;
}
.content-wrapper .lime {
  background-color: #7ac3b4;
}
footer {
  display: none;
  position: relative;
  left: 50%;
  margin: 0 0 0 -480px;
  padding: 12px;
  width: 960px;
  background-color: #ffffff;
}
footer nav a {
  display: inline-block;
  width: 33%;
  background-color: #FF4840;
  border: #ffffff solid;
  border-width: 4px 2px;
  font-size: 20px;
  padding: 16px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}
footer nav a:visited,
footer nav a:active {
  color: #ffffff;
}
footer nav a:hover {
  background-color: #14A6CC;
}
